/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 h1 {
    color: white; /* O el color que prefieras */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semi-transparente */
    padding: 10px; /* Añade algo de relleno para que el fondo envuelva bien el texto */
    border-radius: 5px; /* Opcional: redondea los bordes */
  }
  
  body {
    background-image: url('warehouse-blue-seamless-pattern-or-inventory-background-vector.jpg'); /* Asegúrate de que el nombre coincida */
    background-size: cover; /* Ajusta la imagen al tamaño de la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; /* Asegura que el fondo cubra toda la altura de la pantalla */
    margin: 0; /* Elimina el margen del body */
  }
  